@import "./reset.css"

/* 定义一些变量 */
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC";
  /* 禁止用户鼠标在页面上选中文件/图片等 */
  user-select: none;
  /* webkit 是苹果浏览器引擎, tap 点击, highlight 背景高亮, color 颜色, 颜色用数值调节 */
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  /* 暂时不知道多宽 */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  
}

